@model MediClinic.Models.DTOs.UsersDto.AuthUserDto

<div class="row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-3">
        <h5 class="breadcrumbs-title color-blue">Roles</h5>
    </div>
    <div class="col-8 col-sm-8 col-md-5 col-lg-6" display-block">
        <div class="header-search-wrapper  display-flex position-relative">
            <i class="ti-search position-absolute  search-icons"></i>
            <input type="text" class="form-control set_Place search-box z-depth-2" data-search placeholder="Search" aria-label="Username" aria-describedby="basic-addon11">
            <a class="btn ml-2 search-btn">
                Search
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
        <a class="btn  float-right add-btn set_smallscreen" data-toggle="modal" data-target="#RoleModal">
            Add New Role
        </a>
    </div>
</div>

<table id="RoleTab" class="table dataTables_wrapper ">
    <thead>
        <tr class="uppercase">
            <th class="disable">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input select-all" data-val="all" id="selectAll">
                    <label class="custom-control-label" for="selectAll"></label>
                </div>
            </th>
            <th>Role Name</th>
            <th>Active</th>
            <th class="all">ACTION  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserRoleTypes)
        {
        <tr class="card" style="cursor: pointer">
            <th>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="@item.UserRoleId" value="check">
                    <label class="custom-control-label" for="@item.UserRoleId"></label>
                </div>
            </th>
            <td>
                @item.RoleType
            </td>
            <td>
                @item.IsActive
            </td>
            @if (!Convert.ToBoolean(item.IsPermanent))
            {
                <td class="action">
                    <button class="btn btn-primary dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                        Options
                        @*<span class="caret"></span>*@
                    </button>
                    <ul class="dropdown-menu Table_Drop ul_Caim">
                        <li><a onclick="Edit_Roles(@item.UserRoleId);">Edit</a></li>
                        <li><a href="javascript:void(0);">View</a></li>
                        <li><a onclick="Delete_Roles(@item.UserRoleId, this);">Delete</a></li>

                    </ul>

                </td>
            }
            else
            {
                <td class="action"></td>
            }
        </tr>
        }
    </tbody>
</table>