@model MediClinic.Models.PatientViewModel
@using MedliClinic.Utilities.Utility
@using MediClinic.Services.Interfaces.SessionManager

@inject ISessionManager _sessionManager

@{
    ViewData["Title"] = "ClaimInfoListElite";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
    var RoleId = _sessionManager.GetRoleId();

}
@section scripts{

    <script>
        $(function () {
            $('#myTableClaim').DataTable({
                "lengthMenu": false,
                "lengthChange": false,
                "scrollX": false,
                "searching": false,
                "responsive": true,
                "info": false,
                'order': [], 'columnDefs': [{ "targets": [0, 8], "orderable": false }],
            });
            $('.select-all').click(function () {
                debugger;
                $('table tbody tr th input').prop('checked', this.checked);
            });
        });
        function deleteClaim(ClaimId, event) {
            debugger;
            event.closest('tr').remove();
            $.get("/PatientSideElite/ClaimDelete", { Id: ClaimId }).done(function (data) {
                debugger;
            });
            $(".checkmark").show().fadeOut(6000);
        }
        function showModal() {
            $('#emailModel').modal('show');
        }
    </script>
}


<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>

<div class="page-wrapper">
    <div class="container">
        @*<div class="row">
                <div class="col-sm-12">
                    <div class="card top_part">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-4 col-sm-4 col-md-4 col-lg-3">
                                    <h6>Total Billed</h6>
                                    <p>$300,000.00</p>
                                </div>
                                <div class="col-4 col-sm-4 col-md-4 col-lg-6">
                                    <h6>Total Paid</h6>
                                    <p>$500.000</p>
                                </div>
                                <div class="col-4 col-sm-4 col-md-4 col-lg-3">
                                    <h6>Outstanding</h6>
                                    <p style=" color: #f04f85 !important; ">$200,000.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-2" margin-top-8">
                    <h5 class="breadcrumbs-title color-blue">Claim Info</h5>
                </div>
                <div class="col-9 col-sm-9 col-md-5 col-lg-6" display-block">
                    <div class="header-search-wrapper  display-flex position-relative">
                        <i class="ti-search position-absolute  search-icons"></i>
                        <input type="text" class="form-control set_Place search-box z-depth-2" placeholder="Search" aria-label="Username" aria-describedby="basic-addon11">
                        <a class="btn ml-2 search-btn">
                            Search
                        </a>
                    </div>
                </div>
                @*<div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <a class="btn  float-right add-btn set_smallscreen" href="/patientSideElite/AddClaimInfoElite">
                        Add New Claim
                    </a>
                </div>*@
            </div>
        </div>

        <div class="row tablee mb-4">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="myTableClaim" class="table dataTables_wrapper ">
                        <thead>
                            <tr class="uppercase">
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input select-all" data-val="all" id="selectAll">
                                        <label class="custom-control-label" for="selectAll"></label>
                                    </div>
                                </th>
                                <th>D/O/A, D/O/I</th>
                                <th>Insurance</th>
                                <th>Claim number</th>
                                <th>Insurance Adjuster</th>
                                <th>Type of claim</th>
                                <th>P.I. Attorney</th>
                                <th>Claim Status</th>
                                <th>Nf2 Status</th>
                                @*<th class="all">Action  </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (!(Model.patientClaimInfoList is null))
                            {
                                foreach (var item in Model.patientClaimInfoList)
                                {
                                    <tr class="card" style="cursor: pointer">
                                        <th>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="@item.PatientClaimID" value="check">
                                                <label class="custom-control-label" for="@item.PatientClaimID"></label>
                                            </div>
                                        </th>
                                        <td>@item.DateOfIncident.Value.ToString(SystemFormat.DateFormat())</td>
                                        <td>@item.PrimaryInsuranceProvider</td>
                                        <td>@item.ClaimNumber</td>
                                        <td>@item.AdjusterName</td>
                                        <td>@item.CaseType</td>
                                        <td>@item.AttorneyName</td>
                                        <td>@item.claimStatusName</td>
                                        <td>@item.nf2Name</td>
                                        <!--<td class="action">
                                            <button class="btn btn-primary dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                                Options-->
                                        @*<span class="caret"></span>*@
                                        <!--</button>
                                            <ul class="dropdown-menu Table_Drop ul_Caim">
                                                <li><a onclick="showModal()">Contact Insurance</a></li>
                                                <li><a href="javascript:void(0);">Contact Adjuster</a></li>
                                                <li><a href="javascript:void(0);">View</a></li>
                                                <li><a href="@Url.Action("AddClaimInfoElite","patientSideElite",new { Id=item.PatientClaimID})">Edit</a></li>
                                                <li onclick="deleteClaim(@item.PatientClaimID, this);"><a href="javascript:void(0);">Delete</a></li>
                                            </ul>
                                        </td>-->
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
