@model MediClinic.Models.EmployeeViewModal

@{
    ViewData["Title"] = "AddNewEmpployee";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
}


@section styles{
    <link href="~/app-assets/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/cropper/croppie.css" rel="stylesheet" />

    <style>


        .danger {
            color: red;
        }

        .center {
            text-align: center;
        }

        .img-preview {
            margin: 0 auto;
            height: 250px;
            width: 250px;
            border-radius: 50% !important;
        }

        .remove-image {
            /* display: none; */
            position: absolute;
            top: 0;
            right: 22%;
            border-radius: 10em;
            padding: 2px 6px 3px;
            text-decoration: none;
            font: 700 21px/20px sans-serif;
            background: #555;
            border: 3px solid #fff;
            color: #FFF;
            box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
            text-shadow: 0 1px 2px rgba(0,0,0,0.5);
            -webkit-transition: background 0.5s;
            transition: background 0.5s;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 43%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .mdi {
            font-size: 24px !important;
        }

        .text a, .text p {
            color: #fff;
            font-size: 17px;
        }

        #result {
            cursor: pointer;
        }

        .panel-body .btn-info {
            margin-top: 5px;
            background-image: linear-gradient(135.42deg,#1790ea 0,#6078ea 100%) !important;
        }

        #result-wrapper:hover .middle {
            cursor: pointer;
            opacity: 1;
        }

        .add-btn {
            padding: 0 1rem !important;
            line-height: 36px !important;
            height: 38px !important;
            background: #547cea !important;
            color: white !important;
        }

        .modal-dialog {
            max-width: 700px !important;
        }

        .imageModel input.custom-file-input {
            width: 5rem;
            right: 17px;
            height: 38px !important;
            top: -40px;
            cursor: pointer !important;
        }

        .actionUpload {
            width: 5rem;
        }
    </style>
}
@section scripts{
    <script src="~/app-assets/base/jquery-ui.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/app-assets/js/jquery.form.js"></script>
    <script src="~/cropper/croppie.js"></script>

    <script src="~/Elite/_node_modules/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script>
        $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "c-100:c+10",
            showButtonPanel: true,
            dateFormat: "MM/dd/yy"
        });
        $(function () {
            $('.phoneno').inputmask('1 (999) 999-9999');
            $('.EmailOrPhone').inputmask('9999');

        })
        //Custom design form example
        $(document).ready(function () {
            $('#captureImageFromCam').hide();

        })
        $(function () {

            $('body').on('keydown', 'input', function (e) {

                //console.log(this.value);

                if (e.which === 32 && this.value === '') {
                    return false;
                }

            });

        });
        $(function () {
            $('#Email2').attr('disabled', true);
            $(".select2").select2();
            $("#wlocation2").select2();

            $("#wdate2").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "c-100:c+10",
                showButtonPanel: true,
                dateFormat: "mm/dd/yy"
            });
        });


        $(function () {

            $(".remove-image").on('click', function () {
                $(".list_image").attr('src', '/app-assets/images/user/male-user.png');
                $(".remove-image").hide();
            })

            $(".removebtn-show").on('click', function () {
                $(".empty_img").attr('src', '/app-assets/images/user/male-user.png');
                $(".removebtn-show").hide();
            })
        });




    </script>
    <script>

        var IsCapturedScreen = false;
        var IsRequiredNf2Date = false;
        var basic = $("#main-cropper").croppie({
            viewport: { width: 250, height: 250, type: 'circle' },
            boundary: { width: 280, height: 280 },
            showZoomer: true,
            url: "/app-assets/images/user/male-user.png",
            enableExif: true,
            enableOrientation: true
        });

        function readFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#main-cropper").croppie("bind", {
                        url: e.target.result
                    });

                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        //WebCam Section Script
        function OpenImageSection() {
            $("#showResult").removeClass("disabled");
            $("#RemoveResult").removeAttr("disabled");
            $('#result-wrapper').hide();
            $('#captureImageFromCam').show();
            Webcam.init();


            Webcam.set({
                width: 320,
                height: 240,
                image_format: 'jpeg',
                jpeg_quality: 90
            });

            Webcam.attach('#my_camera');
        }



        function take_snapshot() {
            IsCapturedScreen = true;
            // take snapshot and get image data
            $('#modal1').modal('show');
            $('#showResult').removeClass('disabled');
            Webcam.snap(function (data_uri) {
                // display results in page

                var result = dataURLtoFile(data_uri, "crop");
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#main-cropper").croppie("bind", {
                        url: e.target.result
                    });
                };

                reader.readAsDataURL(result);

            });
        }

        function dataURLtoFile(dataurl, filename) {
            var arr = dataurl.split(','),
                mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]),
                n = bstr.length,
                u8arr = new Uint8Array(n);

            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }

            return new File([u8arr], filename, { type: mime });
        }

        //Usage example:
        //var file = dataURLtoFile('data:text/plain;base64,aGVsbG8gd29ybGQ=','hello.txt');


        $(".actionUpload input").on("change", function () {
            $("#showResult").removeClass("disabled");
            $("#RemoveResult").removeAttr("disabled");
            readFile(this);
        });
        $(".actionDone").on("click", function () {
            $(".actionDone").toggle();
            $(".actionUpload").toggle();
        });

        $("#showResult").click(function () {
            if (IsCapturedScreen) {
                $('#result-wrapper').show();
                $('#captureImageFromCam').hide();
            }
            $("#main-cropper")
                .croppie("result", {
                    type: "canvas",
                    size: "viewport",
                    circle: true
                })
                .then(function (resp) {
                    $("#result").attr("src", resp);
                });
            $(".removebtn-show").show();
            $(".remove-image").show();
            $('#modal1').modal('hide');

        });
        $("#rotateLeft").click(function () {
            basic.croppie('rotate', parseInt($(this).data('deg')));
        });

        $("#rotateRight").click(function () {
            basic.croppie('rotate', parseInt($(this).data('deg')));
        });
        $('.uploadImageFromSignatureBox').click(function () { $('#SignatureImageUpload').trigger('click'); });


    </script>
    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();
                reader.onload = function (e) {
                    debugger;
                    //Signdata = e.target.result;
                    $('#savetarget').attr('src', e.target.result);
                    $('#savetarget').show();
                    $('#UpdateCaseSignature').hide();

                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#SignatureImageUpload").change(function () {
            readURL(this);
        });

    </script>
    <script>

        var city = '';
        var hascity = 0;
        var hassub = 0;
        var state = '';
        var nbhd = '';
        var subloc = '';
        var country = '';
        var hascountry = 0;
        $('#info_Zip').keyup(function () {
            $zval = $('#info_Zip').val();
            if ($zval.length == 5) {
                $jCSval = getCityState($zval, true);
            }
        });
        function getCityState($zip, $blnUSA) {

            $.getJSON('https://maps.googleapis.com/maps/api/geocode/json?address=' + $zip + '&key=AIzaSyDBlodDGZJdKI6epWtg8hZtKv-NQXv7aRc', function (response) {
                if (response.status == "ZERO_RESULTS") {
                    $("#err_infozip").html("Enter Valid & Only US zip code").show().fadeOut(2200);
                }
                else {
                    var address_components = response.results[0].address_components;
                    $.each(address_components, function (index, component) {

                        var types = component.types;
                        $.each(types, function (index, type) {
                            if (type == 'locality') {
                                city = component.long_name;
                                hascity = 1;
                            }
                            else if (type == 'sublocality') {
                                city = component.long_name;
                            }
                            if (type == 'administrative_area_level_1') {
                                state = component.long_name;
                            }
                            if (type == 'country') {
                                country = component.long_name;

                            }
                            if (type == 'neighborhood') {
                                nbhd = component.long_name;
                            }
                            if (type == 'sublocality') {
                                subloc = component.long_name;
                                hassub = 1;
                            }
                        });
                    });

                    $("#info_city").val(city);
                    $("#info_state").val(state);
                    $("#info_country").val(country);
                    //$('#modal1').modal('open');
                }
                //find the city and state


                //pre-fill the city and state

            });
        }
    </script>
    <script>
        $("#EmployeeDorpDown").on('change', function () {
            var value = $(this).val();
            if (value == 21) {
                $("#licenseNo").show();
            }
            else {
                $("#licenseNo").hide();

            }

        })
        $(function () {

            $(".select2").select2();
            $('.selectpicker').selectpicker();
        });
        $(document).ready(function () {
            $('.dropify').dropify();
            $('saveBtn').on('click', function () {
                alert('ab');
            })

        });


        function onCreatePatientlegal(data) {

        }



        $('#EmployeeWidgetForm').on('submit', function (e) {
            debugger;
            e.preventDefault();

            var ProfileSrc = $("#result").attr('src');
            $(this).ajaxSubmit({

                data: { profileImage: ProfileSrc },
                success: function (data) {
                    debugger
                    var msg = data.success;
                    if (data.isError) {
                        new PNotify({
                            title: 'Error!',
                            text: msg,
                            delay: 5000,
                            type: 'error',
                            addclass: 'pnotify-center'
                        });

                        return;
                    }
                    else {
                        $(".checkmark").show().fadeOut(6000);
                    }



                },
                complete: function (xhr) {

                }


            });

        });
    </script>
}
<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>

<div class="page-wrapper">
    <div class="container">
        <div id="breadcrumbs-wrapper">

            <div class="row">
                <div class=" col" margin-top-8">
                    <h5 class="breadcrumbs-title color-blue"> New Employee</h5>
                </div>

                <div class="col">
                    <a href="@Url.Action("Employeelist","employee")" class="waves-effect waves-light float-right" style="margin-top:-4%">
                        <i class="mdi mdi-arrow-left right arrow-icon"></i>

                    </a>
                </div>

            </div>
        </div>

        <div class="row">
            <form id="EmployeeWidgetForm" class="col-sm-12" asp-action="EmployeeAdd" asp-controller="Employee" method="post">
                <input class="text-input input-styling" name="User.UserId" id="PatientInfo_UserId" type="text" hidden="hidden">
                <input type="text" hidden="hidden" asp-for="employeeBasicDto.Employee_id" />
                <div class="row">

                    <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                        <p>Select Role</p>

                        <select class="select2" id="EmployeeDorpDown" data-placeholder="Select Role" asp-for="employeeBasicDto.EmploymentRoleId"
                                asp-items="@(new SelectList(Model.UserRoleTypes,"UserRoleId","RoleType"))">
                            <option value="" selected disabled></option>
                        </select>
                    </div>
                    @*<div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                        <p>Employee Email</p>

                        <div class="input-field">
                            <input type="email" class="text-input" asp-for="employeeBasicDto.Email" placeholder="Enter Email">
                        </div>
                    </div>*@
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <p> First Name <span class="danger">*</span> </p>
                        <input type="text" class="text-input" asp-for="employeeBasicDto.FirstName" placeholder="Enter First Name">
                    </div>
                    <div class="col-md-6">
                        <p>Middle Name</p>
                        <input type="text" class="text-input" asp-for="employeeBasicDto.MiddleName" placeholder="Enter Midlle Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Last Name<span class="danger">*</span></p>

                        <input type="text" class="text-input" asp-for="employeeBasicDto.LastName" placeholder="Enter Last Name">
                    </div>
                    <div class="col-md-6">
                        <p>Date of Birth</p>
                        <input type="text" class="text-input datepicker" asp-for="employeeBasicDto.DOB" placeholder="Enter DOB">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p> Gender<span class="danger"> * </span> </p>
                        <select class="text-input select2 required" asp-items="@(new SelectList(Model.gender, "LookupId", "LookupValue"))"
                                data-placeholder="Select Gender" asp-for="employeeBasicDto.GenderId">


                            <option value="" selected disabled></option>

                        </select>


                    </div>
                    <div class="col-md-6">


                        <p> Marital Status<span class="danger"> * </span> </p>
                        <select data-placeholder="Select Marital Status" class="text-input select2" asp-items="@(new SelectList(Model.maritalStatus,"LookupId","LookupValue"))"
                                asp-for="employeeBasicDto.MaritalStatusId">
                            <option value="" selected disabled>Select Marital Status</option>


                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p> Race/Ethnicity </p>
                        <select data-placeholder="Select Race/Ethnicity" class="text-input select2" asp-items="@(new SelectList(Model.RaceEthnicity,"LookupId","LookupValue"))" asp-for="employeeBasicDto.RaceEthnicityId">
                            <option value="" selected disabled></option>

                        </select>
                    </div>
                    <div class="col-md-6">
                        <p>Address Line1 <span class="danger">*</span></p>
                        <input type="text" class="text-input" asp-for="employeeBasicDto.Addressline1" placeholder="Enter Address">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Address Line2 </p>
                        <input type="text" class="text-input" asp-for="employeeBasicDto.Addressline2" placeholder="Enter Address">

                    </div>
                    <div class="col-md-6">
                        <p>Address Line3</p>
                        <input type="text" class="text-input" asp-for="employeeBasicDto.Addressline3" placeholder="Enter Address">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>Zip Code  <span class="danger">*</span></p>
                        <input type="text" class="text-input" maxlength="5" asp-for="employeeBasicDto.ZipCode" id="info_Zip" name="employeeBasicDto.ZipCode" placeholder="Enter Zip Code">
                        <span class="required" id="err_infozip"></span>

                    </div>
                    <div class="col-md-3">
                        <p>City</p>
                        <input type="text" class="text-input" asp-for="employeeBasicDto.City" readonly>
                    </div>
                    <div class="col-md-3">
                        <p>State</p>
                        <input type="text" class="text-input" asp-for="employeeBasicDto.State" readonly>

                    </div>
                    <div class="col-md-3">
                        <p>Country</p>
                        <input type="text" class="text-input" asp-for="employeeBasicDto.Country" readonly>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <p>User Name <span class="danger">*</span></p>
                        <input type="text" class="text-input" asp-for="employeeBasicDto.UserName" placeholder="Enter UserNames">
                    </div>
                    <div class="col-md-6">
                        <p>Email <span class="danger">*</span></p>
                        <input type="text" class="text-input" asp-for="employeeBasicDto.Email" placeholder="Enter Email">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Password <span class="danger">*</span></p>
                        <input type="password" class="text-input" asp-for="employeeBasicDto.Password" value="@ViewBag.Password" placeholder="Enter Password">
                        <span class="danger" asp-validation-for="employeeBasicDto.Password"></span>

                    </div>
                    <div class="col-md-6">
                        <p>Confirm Password <span class="danger">*</span></p>
                        <input type="password" class="text-input" asp-for="employeeBasicDto.ConfirmPassword" value="@ViewBag.Password" placeholder="Enter Confirm Password">
                        <span class="required" asp-validation-for="employeeBasicDto.Password"></span>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Phone No <span class="danger">*</span></p>
                        <input type="text" class="text-input phoneno" asp-for="employeeBasicDto.MobNo" placeholder="Enter Phone">
                        <span class="required" asp-validation-for="employeeBasicDto.MobNo"></span>

                    </div>
                    <div class="col-md-6" style="display:none" id="licenseNo"> 
                        <p>License No</p>
                        <input type="text" class="text-input phoneno" asp-for="employeeBasicDto.LicenseNo" placeholder="Enter License No">

                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-12">

                        <div class="form-group">
                            <div class="center">

                                <div class="docs-preview clearfix">
                                    <div class="img-preview preview-lg">
                                        <div id="result-wrapper">


                                            <a class="remove-image removebtn-show" href="javascript:void(0)" style="display: inline;display:none;">&#215;</a>
                                            <div class="middle">
                                                <div class="text">
                                                    <a class=" modal-trigger" data-toggle="modal" data-target="#modal1"><i class="mdi mdi-camera"></i></a>
                                                    <p>Upload</p>
                                                </div>
                                            </div>

                                            <img src="~/app-assets/images/user/male-user.png" class="empty_img" id="result" style=" width: 250px; height: 250px; border-radius:50%;border:2px solid #f5f5f5">

                                        </div>
                                        <div class="panel panel-default" id="captureImageFromCam">
                                            <div class="panel-heading">Camera</div>
                                            <div class="panel-body">
                                                <div id="my_camera"></div>
                                                <a class="btn btn-info" onClick="take_snapshot()"> Take Snapshot</a>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <div id="modal1" class="modal imageModel bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div id="main-cropper"></div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 center">
                                                <a class="btn add-btn button actionUpload" data-toggle="tooltip" data-placement="top" title="" data-original-title="Upload Image">
                                                    <i class="mdi mdi-cloud-upload"></i>
                                                    <input type="file" class="custom-file-input" id="upload">
                                                </a>
                                                <a id="rotateLeft" class="btn add-btn" data-deg="-90"><i class="mdi mdi-rotate-left"></i></a>
                                                <a id="rotateRight" class="btn add-btn" data-deg="90"><i class="mdi mdi-rotate-right"></i></a>
                                                <a class="btn modal-close add-btn disabled" id="showResult">Save</a>
                                                <a class="btn add-btn" disabled id="RemoveResult">Remove</a>
                                                <a class="btn modal-close add-btn" data-dismiss="modal">Cancel</a>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <input id="HidenProfilePic" hidden="hidden" asp-for="employeeBasicDto.HiddenPicture" />

                    </div>

                </div>


                <div class="row mt-2 mb-2">
                    <div class="col s12">
                        <div class="center">
                            <button type="submit" id="saveBtn" class="btn add-btn">Save</button>

                            <a href="@Url.Action("Employeelist","employee")" class="Recreate btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>







