@model IEnumerable<MediClinic.Models.DTOs.AdministrativeDto>
@using MediClinic.Services.Interfaces.SessionManager
@using MedliClinic.Utilities.Utility.Enum
@inject ISessionManager _sessionManager


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
    var userRole = _sessionManager.GetRoleId();
}

@section styles
{

    <style>
        .top_part .card-content {
            padding: 16px !important;
            border-radius: 0 0 2px 2px;
        }

        .top_part {
            margin: 1rem 0 0rem 0 !important;
            border-radius: 0 0 2px 2px;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
        }

        .position-relative {
            position: relative;
        }

        .display-flex {
            display: flex;
        }

        .position-absolute {
            position: absolute;
        }

        .search-icons {
            left: 12px;
            top: 12px;
        }

        .tablee .card {
            border-radius: 5px !important;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
            position: relative !important;
            flex-direction: column !important;
            display: table-row !important;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
        }
    </style>

}
@section scripts{

    <script>
        $('.select-all').click(function () {
            debugger;
            $('.table  input').prop('checked', this.checked);
        });
        var table = "";

        $(document).ready(function () {
            table = $('#myAdministrativeTable').DataTable({
                "info": false,
                responsive: true,
                lengthMenu: [[7, 25, 50, -1], [7, 25, 50, "All"]],
                'columnDefs': [{
                    "targets": [0, 7],
                    "orderable": false,
                }]
            });

            $('[data-search]').on('keyup', function () {
                debugger;
                table.search(this.value).draw();
            });
        })
        function deleteAdministrative(AdminId, event) {
            debugger;
            event.closest('tr').remove();

            $.get("/AdministrativeSettings/PatientInfoDelete", { Id: AdminId }).done(function (data) {
                debugger;



            });
            $(".checkmark").show().fadeOut(6000);
        }

    </script>
}
<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>

<div class="page-wrapper">
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="row">
                <div class="col-sm-5 col-md-3 col-lg-3" margin-top-8">
                    <h5 class="breadcrumbs-title color-blue">
                        Administrative
                    </h5>
                </div>
                <div class="col-sm-7 col-md-6 col-lg-6" display-block">
                    @*<div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon11" style="		background-color: #fff !important;
                        "></span>
                                                    </div>*@ <div class="header-search-wrapper  display-flex position-relative">
                        <i class="ti-search position-absolute  search-icons"></i>
                        <input type="text" class="form-control set_Place search-box z-depth-2 search_box2" data-search placeholder="Search" aria-label="Username" aria-describedby="basic-addon11">
                        <a class="btn ml-2 search-btn">
                            Search
                        </a>
                    </div>
                </div>
                @if (!(RoleNames.Patient.Equals(userRole.ToString())))
                {
                    <div class="col-sm-12 col-md-3 col-lg-3 addNewNotForPatient">
                        <a class="btn  float-right add-btn set_smallscreen" href="/AdministrativeSettings/AddAdministrative">
                            Add New Administrative
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9">

            </div>
        </div>

        <div class="row tablee">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="myAdministrativeTable" class="table dataTables_wrapper ">
                        <thead>
                            <tr class="uppercase">
                                <th>
                                    <input type="checkbox" class="select-all">
                                </th>
                                <th>Officer Name</th>
                                <th>Officer Title</th>
                                <th>Company Name</th>
                                <th>Tax ID</th>
                                <th>Account No</th>
                                <th>License No</th>
                                <th class="all">Action  </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="card" style="cursor: pointer">
                                    <th>
                                        <label>
                                            <input type="checkbox" class="select-all">
                                            <span></span>
                                        </label>
                                    </th>
                                    <td>@item.OfficerName</td>
                                    <td>@item.OfficerTitle</td>
                                    <td>@item.CompanyName</td>
                                    <td>@item.TaxID</td>
                                    <td>@item.BankAccountNumber</td>
                                    <td>@item.LicenceNumber</td>

                                    <td class="action">
                                        <button class="btn btn-primary dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                            Options
                                        </button>
                                        <ul class="dropdown-menu Table_Drop ul_Caim">
                                            <li><a href="@Url.Action("AddAdministrative","AdministrativeSettings",new { Id = item.AdministrativeID})">Edit</a></li>
                                            <li onclick="deleteAdministrative(@item.AdministrativeID, this);"><a href="javascript:void(0);">Delete</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>










