@using MediClinic.Services.Interfaces.SessionManager;
@inject ISessionManager _sessionManager
@using MediClinic.Models
@using MedliClinic.Utilities.Utility.Enum

@model GrowthChartViewModel
@{
    ViewData["Title"] = "GrowthChartListElite";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
    var userRole = _sessionManager.GetRoleId();
    var Empty = "N/A";

}
@section styles
{
    <style>
        .top_part .card-content {
            padding: 16px !important;
            border-radius: 0 0 2px 2px;
        }

        .top_part {
            margin: 1rem 0 0rem 0 !important;
            border-radius: 0 0 2px 2px;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
        }

        .position-relative {
            position: relative;
        }

        .display-flex {
            display: flex;
        }

        .position-absolute {
            position: absolute;
        }

        .search-icons {
            left: 12px;
            top: 12px;
        }

        .tablee .card {
            border-radius: 5px !important;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
            position: relative !important;
            flex-direction: column !important;
            display: table-row !important;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
        }
    </style>
}
@section scripts{
    <script>
        $(function () {/*$("#myTable").DataTable({ "info": false, responsive: true, lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]], 'order': [], 'columnDefs': [{ "targets": [0,10], "orderable": false }] });*/
            var table = $('#GrowthChartlist').DataTable({
                "lengthMenu": false,
                "lengthChange": false,
                "scrollX": false,
                "searching": true,
                "responsive": true,
                "info": false,
                'order': [], 'columnDefs': [{ "targets": [0], "orderable": false }],

            });

            $('[data-search]').on('keyup', function () {
                table.search(this.value).draw();
            });

            $('.select-all').click(function () {
                debugger;
                $('table tbody tr th input').prop('checked', this.checked);
            });
        });
        function deleteMesg(Id, event) {

            event.closest('tr').remove();
            $.get("/GrowthChart/Delete", { growthChartId: Id }).done(function (data) {
            });
            $(".checkmark").show().fadeOut(6000);
        }
    </script>
}
<div class="page-wrapper">
    <div class="container">

        <div id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="row">
                <div class="col-sm-5 col-md-3 col-lg-3" margin-top-8">
                    <h5 class="breadcrumbs-title color-blue">
                        Growth Charts
                    </h5>
                </div>
                <div class="col-sm-7 col-md-6 col-lg-6" display-block">
                    <div class="header-search-wrapper  display-flex position-relative">
                        <i class="ti-search position-absolute  search-icons"></i>
                        <input type="text" class="form-control set_Place search-box z-depth-2 search_box2" data-search placeholder="Search" aria-label="Username" aria-describedby="basic-addon11">
                        <a class="btn ml-2 search-btn">
                            Search
                        </a>
                    </div>
                </div>
                @if (!(RoleNames.Patient.Equals(userRole.ToString())))
                {
                    <div class="col-sm-12 col-md-3 col-lg-3 addNewNotForPatient">
                        <a class="btn  float-right add-btn set_smallscreen" href="/GrowthChart/Add">
                            Add New Chart
                        </a>
                    </div>
                }
                

            </div>
        </div>
        <!--<div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9">-->
        @*<button class="btn btn-primary dropdown-toggle batch_button" type="button" data-toggle="dropdown">*@
        @*Batch Actions*@
        @*<span class="caret"></span>*@
        <!--</button>-->
        @*<ul class="dropdown-menu batch">*@
        @*<li><a href="#">Option 1</a></li>*@
        @*<li><a href="#">Option 2</a></li> Comment batch action*@
        <!--</ul>
            </div>
        </div>-->
        <div class="row tablee">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="GrowthChartlist" class="table dataTables_wrapper ">
                        <thead>
                            <tr class="uppercase">
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input select-all" data-val="all" id="selectAll">
                                        <label class="custom-control-label" for="selectAll"></label>
                                    </div>
                                </th>
                                <th>DOB</th>
                                <th>Weight</th>
                                <th>Height</th>
                                <th>Length</th>
                                <th>Head D.M</th>
                                <th>Neck D.M</th>
                                <th>Wrist D.M</th>
                                <th>Shoulder Width</th>
                                @if (!(RoleNames.Patient.Equals(userRole.ToString())))
                                {
                                    <th data-orderable="false" class="all">Action  </th>

                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.growthChartList)
                            {
                            <tr class="card" style="cursor: pointer">
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input select-all" data-val="all" id="@item.GrowthId">
                                        <label class="custom-control-label" for="@item.GrowthId"></label>
                                    </div>
                                </th>
                                <td>
                                    @if (item.DOB != null)
                                    {
                                        item.DOB.Value.ToString("MM/dd/yyyy");
                                    }
                                    else
                                    {
                                        @Empty;
                                    }

                                </td>
                                <td>@item.Weight</td>
                                <td>@item.Height</td>
                                <td>@item.Length</td>
                                <td>@item.HeadDiameter</td>
                                <td>@item.NeckDiameter</td>
                                <td>@item.WaistDiameter</td>
                                <td>@item.ShoulderWidth</td>
                                @if (!(RoleNames.Patient.Equals(userRole.ToString())))
                                {
                                    <td class="action">
                                        <button class="btn btn-primary dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                            Options
                                            @*<span class="caret"></span>*@
                                        </button>
                                        <ul class="dropdown-menu Table_Drop ul_Caim">
                                            <li onclick="deleteMesg(@item.GrowthId,this)"><a href="javascript:void(0);">Delete</a></li>
                                            <li><a href="/GrowthChart/Add?id=@item.GrowthId">Edit</a></li>
                                        </ul>

                                    </td>
                                }

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>












