@model MediClinic.Models.SurgeryCenterViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h4 class="color-blue">Patient Detail</h4>
<div class="row">
    <div class="col-4">
        <p>Patient Name : <span>@Model.patientCompleteInfo.FirstName @Model.patientCompleteInfo.LastName</span></p>
    </div>
    <div class="col-4">
        <p>Patient DOB : <span>@Model.patientCompleteInfo.DateOfBirth.ToString("MM/dd/yyyy")</span></p>
    </div>
    <div class="col-4">
        <p>Patient Gender : <span>@Model.patientCompleteInfo.Gender</span></p>
    </div>
</div>
<hr />
<h4 class="color-blue">Patient Procedures</h4>
<div class="row">
    <div class="col-12">
        <div class="table-responsive" id="Proceduretable">
            <table id="myTableProc" class="table dataTables_wrapper">
                <thead>
                    <tr class="uppercase">
                        <th>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input select-all" data-val="all" id="selectAll">
                                <label class="custom-control-label" for="selectAll" style="--bubble-color:#5a5a5a"></label>
                            </div>
                        </th>
                        <th>Name</th>
                        <th>DOB</th>
                        <th>Procedure Type</th>
                        <th>Date of Procedure</th>
                        <th>Scan Image</th>
                        <th>Scan Report</th>
                        <th class="all">Action  </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var loop in Model.ProceduresList)
                        {
                            <tr class="card" style="cursor: pointer">
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="@loop.ProcedureId" value="check">
                                        <label class="custom-control-label" for="@loop.ProcedureId"></label>
                                    </div>
                                </th>
                                <td>@loop.Patient.FirstName @loop.Patient.LastName</td>
                                <td>@loop.Patient.DateOfBirth.Value.ToString("MM/dd/yyyy")</td>
                                <td>@loop.ProcedureType</td>
                                <td>@loop.DateofProcedure</td>
                                <td>@loop.ScanImage</td>
                                <td>@loop.ScanImportant</td>
                                <td class="action">
                                    <button class="btn btn-primary dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                        Options
                                        @*<span class="caret"></span>*@
                                    </button>
                                    <ul class="dropdown-menu Table_Drop ul_Caim">
                                        <li><a href="javascript:void(0);" >View</a></li>
                                        <li onclick="deleteSurgery(@loop.ProcedureId, this);"><a href="javascript:void(0);">Delete</a></li>
                                        <li><a href="/SurgeryCenter/Add?SurgeryCenterId=@loop.ProcedureId">Edit</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />
<h4 class="color-blue">Patient Imaging</h4>
<div class="row">
    <div class="col-12">
        <div class="table-responsive" id="ImagingTable">
            <table id="myTableImage" class="table dataTables_wrapper ">
                <thead>
                    <tr class="uppercase">
                        <th>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input select-all" data-val="all" id="selectAll">
                                <label class="custom-control-label" for="selectAll"></label>
                            </div>

                        </th>
                        <th>Patient Name</th>
                        <th>Date OfI maging</th>
                        <th>Timming Of Imaging</th>
                        <th>Reported By</th>
                        <th>Type Of Image</th>
                        <th>Report Status</th>
                        <th>Image Film</th>
                        <th>Diagnosis</th>
                        <th class="all">Action  </th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var item in Model.getImagingDto)
                        {

                            <tr class="card" style="cursor: pointer">
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="@item.ImagingId">
                                        <label class="custom-control-label" for="@item.ImagingId"></label>
                                    </div>
                                </th>
                                <td>@item.Patient.FirstName @item.Patient.LastName</td>
                                <td>@item.DateOfImaging.Value.ToString("MM/dd/yyyy")</td>
                                <td>@item.TimmingOfImaging</td>
                                <td>@item.ReportedBy</td>
                                <td>@item.TypeOfImage</td>
                                <td>@item.ReportStatus</td>
                                <td>@item.ImageFilm</td>
                                <td>@item.Diagnosis</td>
                                <td class="action">
                                    <button class="btn btn-primary dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                        Options
                                        @*<span class="caret"></span>*@
                                    </button>
                                    <ul class="dropdown-menu Table_Drop ul_Caim">
                                        <li onclick="deleteMesg(@item.ImagingId,this)"><a>Delete</a></li>
                                        <li><a href="/Imaging/Add?id=@item.ImagingId">Edit</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
            </table>
        </div>
    </div>
</div>