@using MediClinic.Services.Interfaces.SessionManager
@model PatientsDmePrescriptionsViewModel
@using MedliClinic.Utilities.Utility
@inject ISessionManager _sessionManager
@{
    ViewData["Title"] = "ListAssignedDme";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
    var count = 0;
    var RoleId = _sessionManager.GetRoleId();
}
@section styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" />
    <style>
        .top_part .card-content {
            padding: 16px !important;
            border-radius: 0 0 2px 2px;
        }

        .top_part {
            margin: 1rem 0 0rem 0 !important;
            border-radius: 0 0 2px 2px;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
        }

        .position-relative {
            position: relative;
        }

        .display-flex {
            display: flex;
        }

        .position-absolute {
            position: absolute;
        }

        .search-icons {
            left: 12px;
            top: 12px;
        }



        .Bill_options {
            margin-top: 0px;
        }
    </style>

}
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
    <script>
        $('.select2').select2();
        var table;
        $(document).ready(function () {
            //   $(".select2").trigger('change');
            debugger
            $('.selectClass').attr('selected', true)
            $('.select-all').click(function () {
                debugger;
                $('table tbody tr th input').prop('checked', this.checked);
            });
            table = $('#dmePrescription').DataTable({
                "lengthMenu": false,
                "lengthChange": false,
                "scrollX": false,
                "searching": false,
                "responsive": true,
                "info": false,
                'order': [], 'columnDefs': [{ "targets": [0, 8], "orderable": false }],

            });

            $('[data-search]').on('keyup', function () {
                table.search(this.value).draw();

            });
        })

        function StatusChange(itemID, event) {
            debugger
            console.log(itemID);
            console.log(event.value);
            //int ItemId,int statusId
            $.get("/PatientsDmePrescriptions/DmeStatusChange", { ItemId: itemID, statusId: event.value }).done(function (data) {
                $(".checkmark").show().fadeOut(6000);


            });
        }
    </script>
}
<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>

<div class="page-wrapper">
    <div class="container">

        <div id="breadcrumbs-wrapper">

            <div class="row">
                <div class="col-sm-5 col-md-3 col-lg-3" margin-top-8">
                    <h5 class="breadcrumbs-title color-blue">
                        DME Prescription
                    </h5>
                </div>
                <div class="col-sm-7 col-md-6 col-lg-6" display-block">

                    <div class="header-search-wrapper  display-flex position-relative">
                        <i class="ti-search position-absolute  search-icons"></i>
                        <input data-search type="text" class="form-control set_Place search-box z-depth-2 search_box2" placeholder="Search" aria-label="Username" aria-describedby="basic-addon11">
                        <a class="btn ml-2 search-btn">
                            Search
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <a href="@Url.Action("AddDMEPrrescriptions","PatientsDmePrescriptions")" class="btn  float-right add-btn set_smallscreen">
                        Add New
                    </a>
                </div>

            </div>

        </div>


        <div class="row tablee">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="dmePrescription" class="table dataTables_wrapper ">
                        <thead>
                            <tr class="uppercase">
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input select-all" data-val="all" id="selectAll">
                                        <label class="custom-control-label" for="selectAll"></label>
                                    </div>
                                </th>
                                <th>TYPE OF ITEMS/EQUIPMENTS</th>
                                <th>
                                    PRESCRIPTION DATE
                                </th>
                                <th>PRESCRIBER</th>
                                <th>PRESCRIPTION REFERENCE/No </th>
                                <th>Rx Image</th>
                                <th class="all">Status</th>
                                <th class="all">Action  </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.DMEPrescriptionList.Count > 0)
                            {
                                foreach (var item in Model.DMEPrescriptionList)
                                {
                            <tr class="uppercase">

                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input select-all" data-val="all" id="@item.DmePatientId">
                                        <label class="custom-control-label" for="@item.DmePatientId"></label>
                                    </div>

                                </th>
                                <td>@item.DiagnosisDescription</td>
                                <td>
                                    @item.PrescriptionDate.Value.ToString(SystemFormat.DateFormat())
                                </td>
                                <td>
                                    @{
                                        string fullName = "";
                                        if (item.Prescriber != null)
                                        {
                                            fullName = item.Prescriber.FirstName + " " + item.Prescriber.LastName;
                                        }
                                        else
                                        {
                                            fullName = "N/A";
                                        }
                                    }
                                    @fullName
                                </td>
                                <td>
                                    @{ var reference = (ReferenceNo)item.ReferenceNoId;}
                                    @reference
                                </td>
                                <td>
                                    <img width="40" src="~/BarCodes/@item.BarCodeImgUrl" />
                                </td>
                                @if (RoleId == 1 || RoleId == 2)
                                {
                                    foreach (var status in Model.LookupsList)
                                    {
                                        if (status.LookupId == item.StatusId)
                                        {
                                             <td>@status.LookupValue</td>  
                                         }
                                    }
                                }
                                else
                                {
                                  <td>
                                       <select asp-for="DMEPrescriptionList[count].StatusId" class="selectClass select2" onchange="StatusChange('@item.DmePatientId',this)" asp-items="@(new SelectList(Model.LookupsList,"LookupId","LookupValue"))">
                                       </select>
                                  </td>
                                }
                                
                                <td class="action">
                                    <button class="btn btn-primary dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                        Options
                                        @*<span class="caret"></span>*@
                                    </button>
                                    <ul class="dropdown-menu Table_Drop ul_Caim">
                                    </ul>
                                </td>
                            </tr>
                                    count++;
                                }

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



