@model MediClinic.Models.PatientViewModel

@{
    ViewData["Title"] = "MedicalHistoryList";
    //Layout = "~/Views/Shared/_PatientLayout/_PatientLayout.cshtml";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";

}
@{
    var NewId = ViewContext.RouteData.Values["id"];
}
@section styles{

    <style>

        table.table-option tbody tr td ul.dropdown-content {
    height: 163px !important;
}
        .chev-right {
            line-height: 1.5 !important;
            padding: 0 0.2rem !important
        }

        .search-icons {
            left: 12px;
            top: 9px;
        }

        .position-relative {
            position: relative;
        }

        #breadcrumbs-wrapper {
            background: unset !important;
        }

            #breadcrumbs-wrapper.breadcrumbs-bg-image .breadcrumbs-title {
                color: #6666ef;
            }
    </style>
}
@section scripts{
    <script>
        $(document).ready(function () {
            var table = $('#MedicalHistory-table').DataTable({ "info": false, responsive: true, lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]], 'order': [], 'columnDefs': [{ "targets": [0, 5], "orderable": false }] });
            $('[data-search]').on('keyup', function () {
                //table.columns([1, 2, 3, 4]).search($(this).val()).draw();
                table.search(this.value).draw()
            });
        });
         function deleteVital(HistoryId, event) {
            debugger;

            $.get("/PatientSide/DeleteMedicalHistory", { Id: HistoryId }).done(function (data) {
                debugger;

                if (data) {
                    event.closest('tr').remove();

                    new PNotify({
                        title: 'Success!',
                        text: 'Record deleted successfully',
                        delay: 2500,
                        type: 'success',
                        addclass: 'pnotify-center'
                    });
                }
                else {
                    new PNotify({
                        title: 'Error!',
                        text: 'Something went wron',
                        delay: 2500,
                        type: 'error',
                        addclass: 'pnotify-center'
                    });
                }


            });
        }
    </script>
}
<div id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row">
            <div class="col s12 m3 l3 margin-top-8">
                <h5 class="breadcrumbs-title color-blue">Medical History</h5>
            </div>
            <div class="col s12 m5 l5 display-block">
                <div class="header-search-wrapper display-flex position-relative">
                    <i class="material-icons position-absolute search-icons">search</i>
                    <input class="header-search-input z-depth-2 search-box" data-search type="text" name="Search" placeholder="Search">
                    <a class="btn ml-2 search-btn">


                        Search

                    </a>
                </div>
            </div>

            <div class="col s12 m4 l4">


                <a href="@Url.Action("PatientMedicalHistory", "PatientSide", new {Id = NewId })" class="btn waves-effect waves-light add-btn float-right">


                    Add New History
                </a>
            </div>
        </div>
    </div>
</div>
<div id="batch_action">
    <div class="container">
        <div class="row">

            <div class="col s9 m9 l9">
                <a class='dropdown-trigger dropdown-select float-left' href='javascript:void(0);' data-target='dropdown5'>Batch Action<i class="material-icons right select-drop-icon">keyboard_arrow_down</i></a>
                <ul id='dropdown5' class='dropdown-content dropbody'>
                    <li><a href="javascript:void(0);">Option 1</a></li>
                    <li><a href="javascript:void(0);">Option 2</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <table id="MedicalHistory-table" class="display table-option">
                <thead>
                    <tr class="uppercase">
                        <th>
                            <label>
                                <input type="checkbox" class="select-all" />
                                <span></span>
                            </label>
                        </th>
                        <th>Type</th>
                        <th>Date/year</th>
                        <th>Current Status</th>
                        <th>Report/Documents</th>
                        <th data-searchable=false  class="all">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.patientMedicalHistoryList != null)
                    {
                        @foreach (var item in Model.patientMedicalHistoryList)
                        {
                            <tr class="card">
                                <th>
                                    <label>
                                        <input type="checkbox" />
                                        <span></span>
                                    </label>
                                </th>
                                <td>@item.DiseaseType.DiseaseTypeName</td>
                                <td>@item.DataYear.Value.ToString("MM/dd/yyyy")</td>
                                <td>@item.CurrentStatus</td>
                                <td>@item.DocumentReport</td>
                                <td>
                                    <a class='dropdown-trigger btn action-btn option-dropdown-btn ' href='javascript:void(0);' data-target='dropdown_@item.MedicalHistryId'>Options <i class="material-icons right arrow-set">keyboard_arrow_down</i></a>
                                    <!-- Dropdown Structure -->
                                    <ul id='dropdown_@item.MedicalHistryId' class='dropdown-content'>
                                        <li><a href="@Url.Action("MedicalHistory","PatientSide",new {Id = NewId, MedicalHistoryId = item.MedicalHistryId })" class="option-a"><i class="material-icons">edit</i>Edit</a></li>

                                        <li onclick="deleteVital(@item.MedicalHistryId, this);"><a href="javascript:void(0);" class="option-a"><i class="material-icons">delete</i>Delete</a></li>
                                        <li><a href="#!" class="option-a"><i class="material-icons">remove_red_eye</i>Preview</a></li>
                                        <li><a href="#!" class="option-a"><i class="material-icons">print</i>Print</a></li>
                                        <li><a href="#!" class="option-a"><i class="material-icons">share</i>Share</a></li>

                                    </ul>

                                </td>

                            </tr>
                        }
                    }

               

                </tbody>

            </table>

        </div>
    </div>


</div>
