@model MediClinic.Models.ProviderViewModel

@{
    ViewData["Title"] = "ProvideSpecility";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $(document).ready(function () {

            $('.ProviderSpecility').autocomplete({
                data: {
                    "Internal Doctor": null,
                    "Chiroprachter": null,
                    "Physical Therapyst": null,


                },
                limit: 10,
                minLength: 0
            });
            $('.datepicker').datepicker();
            //$("#ProviderSpecility-table").DataTable({ "info": false, responsive: true, lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]], 'order': [], 'columnDefs': [{ "targets": [1], "orderable": false }] });


        });
        function editProviderSpeciality(id)
        {
               $.ajax({

                            type: "POST",
                            url: '@Url.Action("ProviderSpecialityEdit", "Home")',
                            data: { providerTemplateId: id },
                            success: function (data) {
                                debugger;
                                //$("#ProviderTemplate_ProviderTemplateId").val(data.providerTemplateId);
                                //$("#ProviderTemplate_ProviderTemplate").val(data.providerTemplate);
                                //$("#headerTxtTemplate").text("Edit Provider Template");
                                //$("#btnSaveTemplate").text("Update");
                                //var instance = M.Sidenav.getInstance(elem);
                                //instance.open();                                
                            },
                            error: function (result) {
                             alert("Error");
                       }
                });
        }
        function deleteProviderSpeciality(id) {
               $.ajax({

                   type: "POST",
                   url: '@Url.Action("ProviderSpecialityDelete", "Provider")',
                   data: { providerTemplateId: id },
                   success: function (data) {
                       new PNotify({
                           title: 'Success!',
                           text: 'Data deleted successfully',
                           delay: 5000,
                           type: 'success',
                           addclass: 'pnotify-center'
                       });
                       $("#template-body").html(data);
                       location.reload();
                   },
                   error: function (result) {
                       alert("Error");
                   }
               });
        }
    </script>
}
<div id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row">
            <div class="col s6 m6">
                <h5 class="breadcrumbs-title color-blue mt-0">
                    Provider Speciality
                </h5>
            </div>
            <div class="col s6 m6 ">
                <a class="waves-effect waves-light float-right mr-2" style="margin-top: -1px;" href="/Home/Settings">
                    <i class="material-icons right arrow-icon">arrow_back</i>

                </a>
            </div>
        </div>
    </div>
</div>
<div id="batch_action">
    <div class="container">
        <div class="row">

            <div class="col s9 m9 l9">
                <a class='dropdown-trigger dropdown-select float-left' href='javascript:void(0);' data-target='dropdown10'>Batch Action<i class="material-icons right select-drop-icon">keyboard_arrow_down</i></a>
                <ul id='dropdown10' class='dropdown-content dropbody'>
                    <li><a href="javascript:void(0);">Option 1</a></li>
                    <li><a href="javascript:void(0);">Option 2</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="container">
            <table id="ProviderSpecility-table" class="table">
                <thead>
                    <tr class="uppercase">
                        <th>
                            <label>
                                <input type="checkbox" class="select-all" />
                                <span></span>
                            </label>
                        </th>
                        <th>Provider Speciality</th>

                        <th class="all">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProviderSpecialityDetail)
                    {
                        <tr class="card">
                            <th>
                                <label>
                                    <input type="checkbox" />
                                    <span></span>
                                </label>
                            </th>
                            <td>@item.ProviderSpeciality</td>

                            <td>
                                <a class='dropdown-trigger btn action-btn option-dropdown-btn' href='javascript:void(0);' data-target='dropdown1_@item.ProviderSpecialityId'>Options <i class="material-icons right arrow-set">keyboard_arrow_down</i></a>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown1_@item.ProviderSpecialityId' class='dropdown-content'>
                                    <li><a href="#!" onclick="editProviderSpeciality(@item.ProviderSpecialityId)" class="option-a"><i class="material-icons">delete</i>Delete</a></li>
                                    <li><a href="#!" onclick="deleteProviderSpeciality(@item.ProviderSpecialityId)" class="option-a"><i class="material-icons">edit</i>Edit</a></li>

                                </ul>

                            </td>
                        </tr>

                    }
                </tbody>

            </table>
        </div>
    </div>
    <div class="col s12 m6 mt-4">
        <div class="container">


            <form class="form-inline">


                <h6>
                    Add New Provider Specility
                </h6><div class="input-field col s12 m12 pl-0">
                    <div class="">  <input class="text-input ProviderSpecility" type="text" placeholder="Enter New Provider Specility"></div>
                </div>

                <div class="row mb-2">
                    <div class="col s12 m12" style="text-align:center">
                        <a href="javascript:void(0);" class="waves-effect waves-light add-btn btn">Save</a>

                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
