@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MediClinic.Models.AmbulanceAssignViewModel

<table id="availableGrid" class="table dataTables_wrapper ">
    <thead>
        <tr class="uppercase">
            <th>Driver Name</th>
            <th>Ambulance Id</th>
            <th>Ambulance Number</th>
            <th>Ambulance Type</th>
            <th data-searchable=false data-orderable="false" class="all">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.availabeAmbulances)
        {
            <tr class="card">
                <td>@item.DriverName</td>
                <td>@item.AmbulanceModelNumber</td>
                <td>@item.AMbulanceNumberPlate</td>
                <td>@item.Status</td>
                <td class="action">
                    <button class="btn btn-primary dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                        Options
                    </button>
                    <ul class="dropdown-menu Table_Drop ul_Caim">

                        <li onclick="AssignRoute(@item.DriverId, this);"><a href="javascript:void(0);" class="option-a">Assign Route</a></li>

                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>