@model MediClinic.Models.ImmunizationViewModel
@using  MediClinic.Services.Interfaces.SessionManager
@inject ISessionManager _sessionManager
@using System.Globalization;
@{
    ViewData["Title"] = "AssignImmunization";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
    var PatientId = _sessionManager.GetPatientInfoId();
    var ProviderId = _sessionManager.GetProviderInfoId();
    var userId = _sessionManager.GetUserId();
    var age = _sessionManager.GetPatientDOB();
    var RoleId = _sessionManager.GetRoleId();
    
}
@section styles{
    <link href="~/app-assets/base/jquery-ui.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/app-assets/base/jquery-ui.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/app-assets/js/jquery.form.js"></script>
    <script src="~/lib/microsoft/signalr/notify.js"></script>
    <script>
        $(document).ready(function () {
            $("#ImmunizationFieldForMaster").hide();
            var id = getUrlParameter("visitid");
            $('.patient-btns').each(function () {
                debugger;
                var url = $(this).attr('href');
                url = url + id;
                $(this).attr('href', url);
            });
        })
        $(".select2").select2();
        $("#icd").select2();
        $("#route").select2();
        $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "c-100:c+10",
            showButtonPanel: true,
            dateFormat: "mm/dd/yy",
        });
        
        function onCreateImmunization(data) {
            if (data.success) {
                $(".checkmark").show().fadeOut(6000);
                $('.select2').val('').trigger('change');
                $('input').val('');
                window.location.href = '@Url.Action("ImmunizationList", "Immunization")'
            }
            else {
                new PNotify({
                    title: 'Error!',
                    text: 'Can not Save, Already In Drop Down',
                    delay: 5000,
                    type: 'error',
                    addclass: 'pnotify-center'
                });

            }
        }
        $('#PatientName').change(function () {
            var PatientId = $('#PatientName option:selected').val();
            $.post("/Immunization/GetAssignPatientDetail", { Id: PatientId }).done(function (data) {
                $("#ImmunizationFieldForMaster").html('');
                $("#ImmunizationFieldForMaster").html(data);
                $("#ImmunizationFieldForMaster").css('display','block');
                $(".select2").select2();
                $("#icd").select2();
                $("#route").select2();
            });
        });
        
        $("#HiddenVisitId").val(getUrlParameter('visitid'));
        
    </script>
}
<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
<div class="page-wrapper">
    
    <div class="container">
            @*<div class="col-md-2">
                <partial name="~/Views/Appointment/PartialViews/_VisitsButtons.cshtml" />
            </div>*@
          
                <div id="breadcrumbs-wrapper">
                    <!-- Search for small screen-->
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class=" col" margin-top-8">
                            <h5 class="breadcrumbs-title color-blue"> Immunizations</h5>
                        </div>
                        <div class="col">
                            @*<a class="waves-effect waves-light float-right" style="margin-top:-4%" href="@Url.Action("ImmunizationList","Immunization",new { Id = PatientId})">
                                <i class="mdi mdi-arrow-left right arrow-icon"></i>
                            </a>*@
                        </div>
                    </div>
                </div>
                <form asp-action="AssignImmunization" asp-controller="Immunization" method="post" data-ajax="true" data-ajax-success="onCreateImmunization(data)">
                    <input hidden="hidden" type="text" asp-for="immunization.ImmunizationId" />
                    <input hidden="hidden" type="text" id="HiddenVisitId" asp-for="immunization.VisitId" />
                    @if (RoleId == 5)
                    {
                        <div class="row">
                            <div class="col-6">
                                <p>Doctor Name</p>
                                <select id="seleciona" class="select2" data-placeholder="Select Doctor Name" asp-for="immunization.ProviderInfoId"
                                        asp-items="@(new SelectList(Model.ProviderList,"ProviderInfoId","FullName"))">
                                    <option value="" selected disabled></option>
                                </select>
                            </div>
                            <div class="col-6">
                                <p>Patient Name</p>
                                <select id="PatientName" class="select2" data-placeholder="Select Patient Name" asp-for="immunization.PatientInfoId"
                                        asp-items="@(new SelectList(Model.patientListWithUsers,"PatientInfoId","FullName"))">
                                    <option value="" selected disabled></option>
                                </select>
                            </div>

                        </div>

                    }
                    else
                    {
                        <input hidden="hidden" type="text" asp-for="immunization.PatientInfoId" value="@PatientId" />
                        <input hidden="hidden" type="text" asp-for="immunization.ProviderInfoId" value="@ProviderId" />
                    }
                    @if (RoleId == 5)
                    {
                        <div Id="ImmunizationFieldForMaster" style="display:none">
                            <partial name="~/Views/Immunization/PartialView/_Immunization.cshtml" />
                        </div>
                    }
                    else
                    {
                        <div Id="ImmunizationField">
                            <partial name="~/Views/Immunization/PartialView/_Immunization.cshtml" />
                        </div>
                    }
                </form>
        
    </div>

</div>
