@using MediClinic.Models.DTOs;
@model List<ClinicalReminderDto>;
@using MedliClinic.Utilities.Utility.Enum

@using MediClinic.Services.Interfaces.SessionManager;
@inject ISessionManager _sessionManager
@{
    ViewData["Title"] = "ClinincalReminder";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
    var roleId = _sessionManager.GetRoleId();
    var userRole = _sessionManager.GetRoleId();

}




@section styles
{

    <style>
        .top_part .card-content {
            padding: 16px !important;
            border-radius: 0 0 2px 2px;
        }

        .top_part {
            margin: 1rem 0 0rem 0 !important;
            border-radius: 0 0 2px 2px;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
        }

        .position-relative {
            position: relative;
        }

        .display-flex {
            display: flex;
        }

        .position-absolute {
            position: absolute;
        }

        .search-icons {
            left: 12px;
            top: 12px;
        }

        .tablee .card {
            border-radius: 5px !important;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
            position: relative !important;
            flex-direction: column !important;
            display: table-row !important;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
        }
    </style>

}
@section scripts{

    <script>
        $(function () {/*$("#myTable").DataTable({ "info": false, responsive: true, lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]], 'order': [], 'columnDefs': [{ "targets": [0,10], "orderable": false }] });*/
          var table =  $('#myTableReminder').DataTable({
                "lengthMenu": false,
                "lengthChange": false,
                "scrollX": false,
                "searching": true,
                "responsive": true,
                "info": false,
                'order': [], 'columnDefs': [{ "targets": [0], "orderable": false }],
          });
            $('[data-search]').on('keyup', function () {
                table.search(this.value).draw();

            });
            $('.select-all').click(function () {
                debugger;
                $('.table  input').prop('checked', this.checked);
            });
        });
        function deleteClinicRemind(CRId, event) {

            event.closest('tr').remove();
            $.get("/ClinicalReminder/Delete", { clinicID: CRId }).done(function (data) {
            });
            $(".checkmark").show().fadeOut(6000);
        }

    </script>
}
<div class="page-wrapper">
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3" margin-top-8">
                    <h5 class="breadcrumbs-title color-blue">Clinical Reminder</h5>
                </div>
                <div class="col-sm-9 col-md-5 col-lg-6" display-block">
                    <div class="header-search-wrapper  display-flex position-relative">
                        <i class="ti-search position-absolute  search-icons"></i>
                        <input type="text" class="form-control set_Place search-box z-depth-2 search_box2" data-search placeholder="Search" aria-label="Username" aria-describedby="basic-addon11">
                        <a class="btn ml-2 search-btn">
                            Search
                        </a>
                    </div>
                </div>
                @if (!(RoleNames.Patient.Equals(userRole.ToString())))
                {

                    <div class="col-sm-12 col-md-4 col-lg-3 addNewNotForPatient">
                        <a class="btn  float-right add-btn set_smallscreen" href="/ClinicalReminder/Add">
                            Add New Reminder
                        </a>
                    </div>
                }
              
            </div>
        </div>
        <!--<div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9">
                <button class="btn btn-primary dropdown-toggle batch_button" type="button" data-toggle="dropdown">
                    Batch Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu batch">-->
        @*<li><a href="#">Option 2</a></li>Comment Aatch Action*@
        <!--</ul>
            </div>
        </div>-->
        <div class="row tablee">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="myTableReminder" class="table dataTables_wrapper ">
                        <thead>
                            <tr class="uppercase">
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input select-all" data-val="all" id="selectAll">
                                        <label class="custom-control-label" for="selectAll"></label>
                                    </div>
                                </th>
                                <th>REMINDER DATE</th>
                                <th>REMINDER TYPE </th>
                                <th>REMINDER BY</th>
                                <th>REMINDERS</th>
                                <th>DUE DATE</th>
                                @if (!(RoleNames.Patient.Equals(userRole.ToString())))
                                {
                                    <th data-orderable="false" class="all">ACTION</th>

                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                            <tr class="card" style="cursor: pointer">
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="@item.CRId" value="check">
                                        <label class="custom-control-label" for="@item.CRId"></label>
                                    </div>
                                </th>

                                <td>@item.ReminderDate</td>
                                <td>@item.ReminderType</td>
                                <td>@item.ReminderBy</td>
                                <td>@item.Reminders</td>
                                <td>@item.DueDate</td>
                                @if (!(RoleNames.Patient.Equals(userRole.ToString())))
                                {
                                    <td class="action">
                                        <button class="btn btn-primary dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                            Options
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu Table_Drop ul_Caim">
                                            @if (!(RoleNames.Patient.Equals(userRole.ToString())))
                                            {
                                                <li onclick="deleteClinicRemind(@item.CRId, this)"><a>Delete</a></li>
                                                <li><a href="/ClinicalReminder/Add?id=@item.CRId">Edit</a></li>
                                            }

                                            <li><a href="/ClinicalReminder/ClinicView?id=@item.CRId">View</a></li>
                                        </ul>
                                    </td>
                                }

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





