@model AmbulanceAssignViewModel
@{
    ViewData["Title"] = "AmbulanceAssign";
    Layout = "~/Views/Shared/_LayoutElite.cshtml";
}

@section styles
{

    <style>
        .top_part .card-content {
            padding: 16px !important;
            border-radius: 0 0 2px 2px;
        }

        .top_part {
            margin: 1rem 0 0rem 0 !important;
            border-radius: 0 0 2px 2px;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
        }

        .position-relative {
            position: relative;
        }

        .display-flex {
            display: flex;
        }

        .position-absolute {
            position: absolute;
        }

        .search-icons {
            left: 12px;
            top: 12px;
        }

        .tablee .card {
            border-radius: 5px !important;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
            position: relative !important;
            flex-direction: column !important;
            display: table-row !important;
            box-shadow: 1px 1px 12px 1px #e2e2e2 !important;
        }
    </style>

}
@section scripts{
    
    <script src="~/lib/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $('#DriverId').select2({

            
            placeholder: "Select a Driver Name"
        });
        
        $('#AmbulanceId').select2({

            placeholder: "Select a Ambulance"
        });
        //$('.select2').select2();
        $(function () {

            var table = $('#myTableEUO').DataTable({
                "lengthMenu": false,
                "lengthChange": false,
                "scrollX": false,
                "searching": true,
                "responsive": true,
                "info": false,
                'order': [], 'columnDefs': [{ "targets": [0, 7], "orderable": false }],

            });

            $('[data-search]').on('keyup', function () {
                table.search(this.value).draw();
            });
        });



        function deleteTransport(TransportId, event) {

            event.closest('tr').remove();
            $.get("/Transport/Delete", { transportId: TransportId }).done(function (data) {
            });
            $(".checkmark").show().fadeOut(6000);
        }

        function onExactSuccess(data) {
            debugger
            $("#ambulanceAssignModal").modal('hide');
            if (data.messages == "Ambulance Succefully Assigned") {
               
                $(".checkmark").show().fadeOut(5000);
                
            }
            else {
                new PNotify({
                    title: 'Error!',
                    text: `${ data.messages }`,
                    delay: 5000,
                    type: 'error',
                    addclass: 'pnotify-center'
                });
            }
           
           
        }

        $("#modalBtn").click(function () {
            $('#AmbulanceForm').trigger("reset");
        });

        function changeDriverAmbulance(Id) {
            debugger
            $.get("/Ambulance/GetById", { Id: Id }).done(function (data) {
                debugger
                var ambulanceId = data.data.ambulanceId;
                var driverId = data.data.driverId;
                console.log(data.message)
                console.log($('#AmbulanceForm')[0]);
                $('#AmbulanceForm').trigger("reset");
                $("#AssignedId").val(data.data.id);
                $('#DriverId').val(driverId).trigger('change');
                //$('#DriverId option[value=' + `${driverId}]`).attr('selected', 'selected');
                $('#AmbulanceId').val(ambulanceId).trigger('change');;
                //$('#AmbulanceId option[value=' + `${ambulanceId}]`).attr('selected', 'selected');
                $("#ambulanceAssignModal").modal('show');
            });
            
        }


        function DeleteAmbulanceDriver(Id,event) {
            $.get("/Ambulance/DeleteAssigneAmbulance", { Id: Id }).done(function (data) {
                $(event).closest('tr').remove();
                $(".checkmark").show().fadeOut(6000);
            });
        }

    </script>
}
<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
<div class="page-wrapper">
    <div class="container">

        <div id="breadcrumbs-wrapper">

            <div class="row">
                <div class="col-sm-5 col-md-3 col-lg-3" margin-top-8">
                    <h5 class="breadcrumbs-title color-blue">
                        Ambulance Assinged
                    </h5>
                </div>
                <div class="col-sm-7 col-md-6 col-lg-6" display-block">

                    <div class="header-search-wrapper  display-flex position-relative">
                        <i class="ti-search position-absolute  search-icons"></i>
                        <input data-search type="text" class="form-control set_Place search-box z-depth-2 search_box2" placeholder="Search" aria-label="Username" aria-describedby="basic-addon11">
                        <a class="btn ml-2 search-btn">
                            Search
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">

                    <a data-toggle="modal" data-target="#ambulanceAssignModal" id="modalBtn" class=" btn  float-right add-btn set_smallscreen">
                        Assign Ambulance
                    </a>
                </div>

            </div>

        </div>
        @*<div class="row">

                <div class="col-sm-9 col-md-9 col-lg-9">

                    <button class="btn btn-primary dropdown-toggle batch_button" type="button" data-toggle="dropdown">
                    Batch Actions
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu batch">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li> Comment batch action

                    </ul>

                </div>


            </div>*@

        <div class="row tablee">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="myTableEUO" class="table dataTables_wrapper ">
                        <thead>
                            <tr class="uppercase">
                                <th>
                                    
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="select-all custom-control-input" id="selectAll">
                                        <label class="custom-control-label" for="selectAll"></label>
                                    </div>
                                </th>
                                <th>AMBULANCE ID</th>
                                <th>MODEL NUMBER</th>
                                <th>PLATE NO</th>
                                <th>DRIVER ID</th>
                                <th>DRIVER NAME</th>
                                <th class="all">Action  </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListAmbulanceDrivers)
                            {
                                <tr class="card" style="cursor: pointer">
                                    <th>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="@item.Id">
                                            <label class="custom-control-label" for="@item.Id"></label>
                                        </div>
                                    </th>
                                    <td>@item.TransportId</td>
                                    <td>@item.AmbulanceModelNumber</td>
                                    <td>@item.AMbulanceNumberPlate</td>
                                    <td>@item.DriverId</td>

                                    <td>@item.DriverName</td>
                                    <td class="action">
                                        <button class="btn btn-primary dropdown-toggle table_btn" type="button" data-toggle="dropdown">
                                            Options
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu Table_Drop ul_Caim">
                                            <li onclick="DeleteAmbulanceDriver(@item.Id,this)"><a href="javascript:void(0)">Delete</a></li>
                                            <li onclick="changeDriverAmbulance(@item.Id)"><a href="javascript:void(0)">Edit</a></li>
                                            <li><a href="javascript:void(0)">View</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="ambulanceAssignModal" class="modal imageModel bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog bs-example-modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assing Ambulance To Driver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="col-sm-12" id="AmbulanceForm" method="post" asp-action="AmbulanceAssign" asp-controller="Ambulance" data-ajax="true" data-ajax-success="onExactSuccess(data)">
                <input hidden type="text" id="AssignedId" asp-for="AmbulanceAssignDriver.Id" />
                <div class="modal-body">
                    <div class="row">

                        <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                            <p>Select Driver</p>

                            <div class="input-field">
                                <select id="DriverId" asp-for="AmbulanceAssignDriver.DriverId" type="text" class="select2 text-input" asp-items="Model.DriversList">
                                    <option selected  disabled>-Select Driver-</option>

                                </select>
                                <span class="required"></span>
                            </div>
                        </div>
                        <div class=" col-sm-6 col-md-6 col-xl-6 col-12">
                            <p>Select Ambulance</p>

                            <div class="input-field">
                                <select id="AmbulanceId" asp-for="AmbulanceAssignDriver.TransportId" type="text" class="select2 text-input" asp-items="Model.AmbulanceList">
                                    <option selected disabled>-Select Ambulance-</option>

                                </select>
                                <span class="required"></span>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <div class="row mt-2 mb-2">
                        <div class="col s12">
                            <div class="center">
                                <button type="submit" class="waves-effect waves-light btn add-btn">Save</button>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span  class="waves-effect waves-light Recreate btn">Cancel</span>
                                </button>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

